.svg-Actions {
	background: url(svg/sprite.css-62dc9a49.svg) 20% 0 no-repeat;
}

.svg-Actions-dims {
	width: 52px;
	height: 52px;
}

.svg-Add {
	background: url(svg/sprite.css-62dc9a49.svg) 80% 0 no-repeat;
}

.svg-Add-dims {
	width: 52px;
	height: 52px;
}

.svg-Assign_Crew {
	background: url(svg/sprite.css-62dc9a49.svg) 0 20% no-repeat;
}

.svg-Assign_Crew-dims {
	width: 52px;
	height: 52px;
}

.svg-Attachment {
	background: url(svg/sprite.css-62dc9a49.svg) 20% 20% no-repeat;
}

.svg-Attachment-dims {
	width: 52px;
	height: 52px;
}

.svg-Attention {
	background: url(svg/sprite.css-62dc9a49.svg) 40% 0 no-repeat;
}

.svg-Attention-dims {
	width: 52px;
	height: 52px;
}

.svg-Delete {
	background: url(svg/sprite.css-62dc9a49.svg) 40% 20% no-repeat;
}

.svg-Delete-dims {
	width: 52px;
	height: 52px;
}

.svg-Download {
	background: url(svg/sprite.css-62dc9a49.svg) 0 40% no-repeat;
}

.svg-Download-dims {
	width: 52px;
	height: 52px;
}

.svg-Edit {
	background: url(svg/sprite.css-62dc9a49.svg) 20% 40% no-repeat;
}

.svg-Edit-dims {
	width: 52px;
	height: 52px;
}

.svg-Enter_Readings {
	background: url(svg/sprite.css-62dc9a49.svg) 40% 40% no-repeat;
}

.svg-Enter_Readings-dims {
	width: 52px;
	height: 52px;
}

.svg-Equipment_Add {
	background: url(svg/sprite.css-62dc9a49.svg) 60% 0 no-repeat;
}

.svg-Equipment_Add-dims {
	width: 52px;
	height: 52px;
}

.svg-Equipment_Empty {
	background: url(svg/sprite.css-62dc9a49.svg) 60% 20% no-repeat;
}

.svg-Equipment_Empty-dims {
	width: 52px;
	height: 52px;
}

.svg-Equipment_Fill {
	background: url(svg/sprite.css-62dc9a49.svg) 60% 40% no-repeat;
}

.svg-Equipment_Fill-dims {
	width: 52px;
	height: 52px;
}

.svg-Equipment_Remove {
	background: url(svg/sprite.css-62dc9a49.svg) 0 60% no-repeat;
}

.svg-Equipment_Remove-dims {
	width: 52px;
	height: 52px;
}

.svg-Existing_Status_Updates {
	background: url(svg/sprite.css-62dc9a49.svg) 20% 60% no-repeat;
}

.svg-Existing_Status_Updates-dims {
	width: 52px;
	height: 52px;
}

.svg-Feedback {
	background: url(svg/sprite.css-62dc9a49.svg) 40% 60% no-repeat;
}

.svg-Feedback-dims {
	width: 52px;
	height: 52px;
}

.svg-Flag_for_Review {
	background: url(svg/sprite.css-62dc9a49.svg) 60% 60% no-repeat;
}

.svg-Flag_for_Review-dims {
	width: 52px;
	height: 52px;
}

.svg-Help {
	background: url(svg/sprite.css-62dc9a49.svg) 0 0 no-repeat;
}

.svg-Help-dims {
	width: 52px;
	height: 52px;
}

.svg-Job_Site {
	background: url(svg/sprite.css-62dc9a49.svg) 80% 20% no-repeat;
}

.svg-Job_Site-dims {
	width: 52px;
	height: 52px;
}

.svg-Job_Site_Details {
	background: url(svg/sprite.css-62dc9a49.svg) 80% 40% no-repeat;
}

.svg-Job_Site_Details-dims {
	width: 52px;
	height: 52px;
}

.svg-List {
	background: url(svg/sprite.css-62dc9a49.svg) 80% 60% no-repeat;
}

.svg-List-dims {
	width: 52px;
	height: 52px;
}

.svg-Map {
	background: url(svg/sprite.css-62dc9a49.svg) 0 80% no-repeat;
}

.svg-Map-dims {
	width: 52px;
	height: 52px;
}

.svg-Mark_as_Error {
	background: url(svg/sprite.css-62dc9a49.svg) 20% 80% no-repeat;
}

.svg-Mark_as_Error-dims {
	width: 52px;
	height: 52px;
}

.svg-Override_Review_and_Approve {
	background: url(svg/sprite.css-62dc9a49.svg) 40% 80% no-repeat;
}

.svg-Override_Review_and_Approve-dims {
	width: 52px;
	height: 52px;
}

.svg-Preexisting_Damage {
	background: url(svg/sprite.css-62dc9a49.svg) 60% 80% no-repeat;
}

.svg-Preexisting_Damage-dims {
	width: 52px;
	height: 52px;
}

.svg-Progress_Photo {
	background: url(svg/sprite.css-62dc9a49.svg) 80% 80% no-repeat;
}

.svg-Progress_Photo-dims {
	width: 52px;
	height: 52px;
}

.svg-Project {
	background: url(svg/sprite.css-62dc9a49.svg) 100% 0 no-repeat;
}

.svg-Project-dims {
	width: 52px;
	height: 52px;
}

.svg-Record_Work {
	background: url(svg/sprite.css-62dc9a49.svg) 100% 20% no-repeat;
}

.svg-Record_Work-dims {
	width: 52px;
	height: 52px;
}

.svg-Search {
	background: url(svg/sprite.css-62dc9a49.svg) 100% 40% no-repeat;
}

.svg-Search-dims {
	width: 52px;
	height: 52px;
}

.svg-Sign_Off {
	background: url(svg/sprite.css-62dc9a49.svg) 100% 60% no-repeat;
}

.svg-Sign_Off-dims {
	width: 52px;
	height: 52px;
}

.svg-Status_Update {
	background: url(svg/sprite.css-62dc9a49.svg) 100% 80% no-repeat;
}

.svg-Status_Update-dims {
	width: 52px;
	height: 52px;
}

.svg-Timesheet {
	background: url(svg/sprite.css-62dc9a49.svg) 0 100% no-repeat;
}

.svg-Timesheet-dims {
	width: 52px;
	height: 52px;
}

.svg-User {
	background: url(svg/sprite.css-62dc9a49.svg) 20% 100% no-repeat;
}

.svg-User-dims {
	width: 52px;
	height: 52px;
}

.svg-Work_Days {
	background: url(svg/sprite.css-62dc9a49.svg) 40% 100% no-repeat;
}

.svg-Work_Days-dims {
	width: 52px;
	height: 52px;
}

